html {
  --antd-wave-shadow-color: #752029;
}

.App {
  text-align: center;
}

.ant-layout-header {
  font-size: larger;
  font-weight: 500;
  color: #fff;
  background-color:#752029;
}

.ant-layout-content {
  padding: 15px;
  background-color:#fef8f9;
}

.ant-layout-footer {
  color: #fff;
  background-color:#fef8f5;
}

/* Tabs CSS */

.ant-tabs-nav .ant-tabs-tab-active {
  color:#752029;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color:#c53745;
}

.ant-tabs-nav .ant-tabs-tab:active {
  color:#752029;
}

.ant-tabs-ink-bar {
  background:#752029;
}